# 1. Ignore everything
*

# 2. But do not ignore the .gitignore file itself
!.gitignore

# 3. Allow specific files
!README.md
!test.ipynb

# 4. Allow a specific folder
# Note: You must allow the folder itself AND everything inside it
!my_scripts/
!my_scripts/**
!MIREIA/
!MIREIA/**

# 5. Allow certain file types anywhere
!*.png
!*.cpp